.box-contents
  - @products.order('created_at DESC').where(category_id:(378..527)).limit(4).each do |product|
    .items-box
      .items-box_photo
        = product.product_introduction
      .items-box_body
        %h3.items-box-name
          = product.product_name
        .items-box-num
          .items-box-price
            ¥ 
            = product.price
          .items-box-icon
            %i.far.fa-heart
            8
        .items-box-tax
          (税込)
.view-all
  %a{ href:'', class:"text-center__inner"}
    すべての商品を見る