
wrapper{
  min-width:500px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.header{
  height:100px;
  width:100%;
  background-color:white;
  color:red;
}
.header-inner{
  height:92px;
  width:1020px;
  margin: 0 auto;
  background-color:white;
  position: relative;
}
.header-top{
  height:40px;
  display:flex;
}
.logo{
  width:140px;
  height:40px;
 
}

.form{
  // min-width:418px;
  width:990px;
  height:40px;
  margin-left:40px;
  position: relative;
  }
  #form{
    position: relative;
  }
.image-label{
  // width:50px;
  margin: 0 0 0 auto;
  border: 1px solid #ccc;
  border-radius:5px;
  position:absolute;
  right:5px;
  top:4px;
  
}
.search{
  background-color:#f5f5f5;
  width:800px;
  height:38px;
  padding:0 10px; 
  border-radius:5px;
  outline:0;
  background:rgb(245, 241, 241);
  font-size: 16px;
  border: solid 1px;
  margin-top:5px;
  border-color:gray;
}
.submit{
  // color:white;
}
.fas.fa-search.fa-lg{
  width:40px;
  height:41px;
  font-size:15px;
  background-color:#666;
  color:white;
  margin: 0 0 0 auto;
  border: solid 1px;
  outline: none;
  border-radius:5px;
}

.header-bottom{
  height:44px;
  display:flex;
  &__left{
    width:330px;
    height:44px;
    display:flex;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  &__right{
    width:521px;
    height:44px;
    display:flex;
    margin-left:auto;
    margin-top:9px;
    color:black;
    font-size:14px;
    font:sans-serif;
    justify-content: center;
    align-items: center;
    &__text{
      color:black;
      font-size:13px;
      font:sans-serif;
      float:right;
      margin-left:5px;
    }
  }
}

.category{
  width:520px;
  display:flex;
  margin-top:20px;
}
.category__icon{
  color:red;
  margin-top:3px;
}
.category__search{
  font-weight: bold;
  font-size:14px;
  color:black;
  margin:2px 0 0 5px;
}
.brand{
  width:520px;
  display:flex;
  margin-top:20px;
  margin-left:20px;
}
.brand__icon{
  color:red;
}
.brand__search{
  font-weight: bold;
  font-size:14px;
  color:black;
  margin:2px 0 0 5px;
}

.liked-item{
  width:113px;
}
.far.fa-heart.fa-lg{
  color:gray;
}
.notification-list{
  width:83px;
  margin: 0 0 0 auto;
}
.far.fa-bell.fa-lg{
  color:gray;
}
.todo-list{
  width:130px;
  margin: 0 0 0 auto;
}
.fas.fa-check.fa-lg{
  color:gray;
}
.my-page{
  width:120px;
  margin: 0 0 0 auto;
}
.my-page__link{
  width:100%;
  display:flex;
  text-decoration: none;
}
.my-page__text{
  margin-left:10px;
  margin-top:5px;
}
.hooter-top{
  width: 100%;
  height: 260px;
  background-image: url("/hooter-background-image.png");
  background-size:cover;
}
.hooter-top-inner{
  // overflow: hidden;
  // position: relative;
  // display: none;
  width: 750px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  // background-color: aqua;
  display:flex;
}
.hooter-top-inner__right{
  width: 420px;
  height: 160px;
  // background-color: red;
  margin-top:50px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  #h2{
    font-size: 24px;
    line-height: 1.4;
 
  }
  #p{
    margin: 10px 0 0;
    font-size: 35px;
  }
}
.hooter-top-inner__right-icon{
  width: 420px;
  height: 68px;
  margin-top:2px;
  display:flex;
  // background-color: aqua;
}
.hooter-top-inner__right-icon-left{
  border-radius:10px;
  width: 68px;
  height: 68px;
}
.hooter-top-inner__right-app{
  width: 282px;
  height: 68px;
  margin-left:24px;
}
.hooter-top-inner__right-app_icon-left{
  border-radius:7px;
  margin-top:13px;
}
.hooter-top-inner__right-app_icon-right{
  border-radius:7px;
  margin-top:13px;
  margin-left:10px;
}
.hooter-top-inner__left{
  width: 300px;
  height: 260px;
  // background-color: white;
  margin-left:30px;
  background-image: url("//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2334484240");
  background-size:cover;
}


.hooter-bottom{
  height:370px;
  width:100%;
  background: #212121;
  margin-top:0;
}
.hooter-main{
  height:298px;
  width: 1020px;
  margin: 0 auto;
  display:flex;
  background: #212121;
  color: #fff;
  h2{
    font-size: 16px;
    font-weight: 100;
    opacity: .7;
  }
  li{
    font-size: 12px;
    margin: 14px 0 0;
    opacity: .7;
  }
  a{
    text-decoration: none;
    color: #fff;
    line-height: 3px;
    // opacity: .7;
  }
 
  .footer-title{
    height:22px;
    width: 388px;
  }
  .footer-item{
    height:162px;
    width: 388px;
    display:flex;
  }
}
.footer-cell-inner__left{
  padding-right:20px;
}
.footer-cell{
  padding:20px 20px 0 0;
  margin-right:20px;
  // width: 20%;
  text-decoration: none;
}
.footer-cell_help{
  margin-right:40px;
}
.footer-cell_width{
  width: 388px;
  margin-right:40px;
}
.sns-icon{
  margin-top:30px;
}
.sns-icon-logo{
}
.fab.fa-facebook-square.fa-2x{
  margin-left:20px;
}
.hooter-sub{
  height:33px;
  width: 1020px;
  margin: 30px auto 20px;
  display:flex;
}
.hooter-sub__left-image{
  height:33px;
  width:124px;
}
.hooter-sub__right{
  width: 896px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 8px 0 0;
}
.footer-button{
  bottom: 32px;
  right: 32px;
  height:160px;
  width:160px;
  background: #ea352d;
  position: fixed;
  border-radius: 50%;
  text-decoration: none;
}
.footer-button__text{
  height:22px;
  width:160px;
  margin: 24px 0 0;
  font-size: 22px;
  color:white;
  text-align: center;
}
.fas.fa-camera.fa-4x{
  margin-top:10px;
  margin-left:48px;
  color:white;
}