
.wrapper{
  min-width:500px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.header{
  height:100px;
  width:100%;
  background-color:white;
  color:red;
  &-inner{
    height:92px;
    width:1020px;
    margin: 0 auto;
    background-color:white;
    position: relative;
  }
  &-top{
    height:40px;
    display:flex;
  }
}
.logo{
  width:140px;
  height:40px;
 
}

.form{
  width:990px;
  height:40px;
  margin-left:40px;
  position: relative;
  }
  #form{
    position: relative;
  }
.image-label{
  margin: 0 0 0 auto;
  border-radius:5px;
  position:absolute;
  right:5px;
  top:4px;
  
}
.search{
  background-color:#f5f5f5;
  width:800px;
  height:38px;
  padding:0 10px; 
  border-radius:5px;
  outline:0;
  background:rgb(245, 241, 241);
  font-size: 16px;
  border: solid 1px;
  margin-top:5px;
  border-color:gray;
}
.fas.fa-search.fa-lg{
  width:40px;
  height:41px;
  font-size:15px;
  background-color:#666;
  color:white;
  margin: 0 0 0 auto;
  // border: solid 1px;
  outline: none;
  border-radius:5px;
}

.header-bottom{
  height:44px;
  display:flex;
  &__left{
    position: absolute;
    width:400px;
    height:44px;
    display:flex;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  &__right{
    width:521px;
    height:44px;
    display:flex;
    margin-left:auto;
    margin-top:9px;
    color:black;
    font-size:14px;
    font:sans-serif;
    justify-content: center;
    align-items: center;
    &__text{
      color:black;
      font-size:13px;
      font:sans-serif;
      float:right;
      margin-left:5px;
    }
  }
}

.category{
  width:150px;
  display:flex;
  margin-top:20px;
  &__icon{
    color:red;
    margin-top:3px;
  }
  &__search{
    font-weight: bold;
    font-size:14px;
    color:black;
    margin:2px 0 0 5px;
  
  &:hover {
    color:skyblue;
  }
}
}
.brand{
  position: relative;
  right:50px;
  width:520px;
  display:flex;
  margin-top:20px;
  // margin-left:20px;

  &__icon{
    color:red;
  }
  &__search{
    font-weight: bold;
    font-size:14px;
    color:black;
    margin:2px 0 0 5px;
    &:hover {
      color:skyblue;
    }
  }
}


.liked-item{
  width:113px;
}
.header-bottom__right__text{
  font-weight: lighter !important;
}
.far.fa-heart.fa-lg{
  color:gray;
}
.far.fa-heart.fa-lg:hover{
  color:skyblue;
}
.header-bottom__right__text:hover{
  color:skyblue;
}
.notification-list{
  width:83px;
  margin: 0 0 0 auto;
}
.notification-list:hover{
  color:skyblue;
}
.far.fa-bell.fa-lg{
  color:gray;
}
.far.fa-bell.fa-lg:hover{
  color:skyblue;
}
.todo-list{
  width:130px;
  margin: 0 0 0 auto;
  color:gray;
 
}
.fas.fa-check.fa-lg{
  color:gray;
}
.todo-list:hover{
  color:skyblue;
}
.fas.fa-check.fa-lg:hover{
  color:skyblue;
}
.my-page{
  width:120px;
  margin: 0 0 0 auto;
}
.my-page__link{
  width:100%;
  display:flex;
  text-decoration: none;
}
.my-page__text{
  margin-left:10px;
  margin-top:5px;
}
.hooter-top{
  width: 100%;
  height: 260px;
  background-image: url("/hooter-background-image.png");
  background-size:cover;
  &-inner{
    // overflow: hidden;
    // position: relative;
    // display: none;
    width: 750px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    // background-color: aqua;
    display:flex;
  
    &__right{
      width: 420px;
      height: 160px;
      // background-color: red;
      margin-top:50px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      #h2{
        font-size: 24px;
        line-height: 1.4;
     
      }
      #p{
        margin: 10px 0 0;
        font-size: 35px;
      }
    }
  }
  .hooter-top-inner__right-icon{
    width: 420px;
    height: 68px;
    margin-top:2px;
    display:flex;
  
  &-left{
    border-radius:10px;
    width: 68px;
    height: 68px;
  }
}
  .hooter-top-inner__right-app{
    width: 282px;
    height: 68px;
    margin-left:24px;
  
  &_icon-left{
    border-radius:7px;
    margin-top:13px;
  }
  &_icon-right{
    border-radius:7px;
    margin-top:13px;
    margin-left:10px;
  }
}
  .hooter-top-inner__left{
    width: 300px;
    height: 260px;
    margin-left:30px;
    background-image: url("//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2334484240");
    background-size:cover;
    }
  }


  .hooter-bottom{
    height:370px;
    width:100%;
    background: #212121;
    margin-top:0;
  }
  .hooter-main{
    height:298px;
    width: 1020px;
    margin: 0 auto;
    display:flex;
    background: #212121;
    color: #fff;
    h2{
      font-size: 16px;
      font-weight: 100;
    }
    li{
      font-size: 12px;
      margin: 14px 0 0;
      opacity: .7;
    }
    a{
      text-decoration: none;
      color: #fff;
      line-height: 3px;
    }
}
  .footer-title{
    height:22px;
    width: 388px;
  }
  .footer-item{
    height:162px;
    width: 388px;
    display:flex;
  }

.footer-cell-inner__left{
  padding-right:20px;
}
.footer-cell{
  padding:20px 0 0 0;
  // margin-right:20px;
  text-decoration: none;
  &_mercari{
    width:172px;
  }
  &_help{
    min-width:232px;
  }
  &_privacy{
    width: 428px;
  }
  &_country{
    width: 68px;
  }
}

.sns-icon{
  margin-top:30px;
}
.sns-icon-logo{
}
.fab.fa-facebook-square.fa-2x{
  margin-left:20px;
}
.hooter-sub{
  height:33px;
  width: 1020px;
  margin: 30px auto 0;
  display:flex;

  &__left-image{
    height:33px;
    width:124px;
  }
  &__right{
    width: 896px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 8px 0 0;
  }
}
.footer-button{
  bottom: 32px;
  right: 32px;
  height:160px;
  width:160px;
  background:$hover-color;
  position: fixed;
  border-radius: 50%;
  text-decoration: none;
  &__text{
    height:22px;
    width:160px;
    margin: 24px 0 0;
    font-size: 22px;
    color:white;
    text-align: center;
  }
}
.fas.fa-camera.fa-4x{
  margin-top:10px;
  margin-left:48px;
  color:white;
}