
// 第一階層
.gnav{
  height:60px;
}
.gnav:hover li a{
  height: 2.5rem;
  overflow: visible;
  z-index:10;
}
.gnav li a{
  position: relative;
  top:17px;
  display: block;
  width: 224px;
  text-decoration: none;
  line-height: 30px;
  list-style-type : none;
  margin: 0;
  padding: 0;
  color:#333;
  background:white;
  height: 0;
  overflow: hidden;
}
.gnav > li:hover > a{
  color:white;
  background-color: red;
  
}
//第二階層
.gnav ul li a:hover{
  color:black;
  background-color: gray;
}
.gnav ul li :hover li{
  height: 2.5rem;
  overflow: visible;
}
.gnav li:hover ul{
  display: block;
}
.gnav ul{
  display: none;
  position: absolute;
  top: -57px;
  left:224px;
  width: 224px;
  height: 537px;
  background: white;
  margin-top:100px;
}

//第三階層
.gnav ul li ul a:hover{
  color:black;
  background-color: lightgray;
}
.gnav ul li:hover ul{
  height: 2.5rem;
  overflow: visible;
}
.gnav li:hover ul{
  display: block;

}
.gnav ul ul{
  display: none;
  position: absolute;
  top: -105px;
  left:223px;
  width: 300px;
  // background:red;
  height: 0;
  overflow: hidden;
}
.gnav ul li ul{
  // background:blue;
  // height:600px;
}
