.notification{
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  line-height: 70px;
  width:100%;
  opacity: 1;
}

.notice {
  background-color: #dff0d8;
  color:#468847
}

.alert{
  background-color: #dff0d8;
  color:#468847

}
