.signup-second-check{
  width: 100vw;
  padding-bottom: 220px;
  background-color: #f5f5f5;
  position: relative;
}
.second-main-check__wrapper-top{
  width: 700px;
  height: 369px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  &--title{
    text-align: center;
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    border-bottom: solid 1px rgb(245, 245, 245);
  }
  &--box{
    width: 700px;
    height: 319px;
    padding: 64px;
    border-top: solid 1px rgb(245, 245, 245);
    &--inner{
      width: 320px;
      height: 191px;
      margin: 0 auto;
    }
  }
}

.form-label-large{
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 5px;
}

.single-text-close{
  display: block;
  margin-top: 2px;
  font-size: 14px;
  line-height: 21px;
}

.second-main-check__wrapper-middle{
  width: 700px;
  height: 260px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  &--box{
    width: 700px;
    height: 260px;
    padding: 64px 64px 60px;
    border-top: solid 1px rgb(245, 245, 245);
    &--inner{
      width: 320px;
      height: 136px;
      margin: 0 auto;
    }
  }
}

.second-main-check__wrapper-bottom{
  width: 700px;
  height: 235px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  &--box{
    width: 700px;
    height: 235px;
    padding: 68px 64px 60px;
    border-top: solid 1px rgb(245, 245, 245);
    &--inner{
      width: 320px;
      height: 111px;
      margin: 0 auto;
      &--caution{
        display: block;
        margin-top: 8px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}