// ページ下部ロゴマーク・利用規約など
.auth-footer{
  height: 245px;
  width: 500px;
  padding: 45px 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  &__list{//プライバシーポリシーなどのリスト
    font-family: "YuGothic";
    font-size: 13.5px;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    vertical-align: top;
    line-height: 1;
    &--individual{//プライバシーポリシー指定
      color: rgb(51,51,51);
      text-decoration: none;
      &:hover{
        opacity: 0.8;
        text-decoration: underline;
      }
      &--margin{//メルカリ利用規約と特定商取引に関する表記指定
        color: rgb(51,51,51);
        text-decoration: none;
        margin-left: 17px;
        &:hover{
          opacity: 0.8;
          text-decoration: underline;
        }
      }
    }
  }
  &__logo{//フッターロゴ
    width: 90px;
    height: 73px;
    margin: 45px 205px 5px;
    display: block;
    &:hover{
      opacity: 0.8;
    }
  }
  &__copyright{//フッターコピーライト
    font-size: 14.5px;
    font-family: "Source Sans Pro";
  }
}