// ページ上部ロゴマーク
.auth-header{
  height: 142px;
  padding-top: 45.5px;
  &__log{//ロゴマークの位置指定
    width: 211px;
    margin: 0 auto;
    &--link{//ロゴマーク位置微調整
      margin-right: 8px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}