// .header{
//   height: 149px;
//   background-color: black;
// }
.main{
  height: 100vh;
  width: 100vw;
  background-color:rgb(156, 154, 154);
}
  .logout{
    min-height: 100px; 
    width: 400px;
    background-color:white;
    padding: 64px;
  }
    .btn{
      margin:auto;
      display:inline; 
      color:white;
      background-color: rgb(234, 53, 45);
      font-weight: 400;
      height: 50px;
      width: 320px;
      padding: 30px;
      font-size: 14px;
      line-height: 4px;
      text-align: center;
      }
  // .side{
  //   width: 280px;
  //   height:1252px;
  //   background-color: black;
  //   float:left;
  //   margin: 40px;
  //   }
    

//     .l-chapter-container{
//       padding: 64px;
//       height: 50px;
//       width: 572px;
//       .l-single-inner{

//       }
//     }
//       .l-single-content{
//         margin: 126px 0px;
//       }

// }

// .btn{
  // color: white;
  // background-color: red;
  // font-weight: 400;
  // height: 50px;
  // width: 320px;
  // padding: 0 30px;
  // font-size: 14px;
  // line-height: 50px;
  // letter-spacing: 1px;
  // text-align: center;
  // border: none;
  // border-style: solid;

