.box-contents
  .items-box
    .items-box_photo
      = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
    .items-box_body
      %h3.items-box-name
        ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
      .items-box-num
        .items-box-price
          ￥6,000
        .items-box-icon
          %i.far.fa-heart
          8
      .items-box-tax
        (税込)
  .items-box
    .items-box_photo
      = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
    .items-box_body
      %h3.items-box-name
        ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
      .items-box-num
        .items-box-price
          ￥6,000
        .items-box-icon
          %i.far.fa-heart
          8
      .items-box-tax
        (税込)
  .items-box
    .items-box_photo
      = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
    .items-box_body
      %h3.items-box-name
        ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
      .items-box-num
        .items-box-price
          ￥6,000
        .items-box-icon
          %i.far.fa-heart
          8
      .items-box-tax
        (税込)
  .items-box
    .items-box_photo
      = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
    .items-box_body
      %h3.items-box-name
        ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
      .items-box-num
        .items-box-price
          ￥6,000
        .items-box-icon
          %i.far.fa-heart
          8
      .items-box-tax
        (税込)
.view-all
  %a{ href:'', class:"text-center__inner"}
    すべての商品を見る