.top_photo
  = image_tag "/2019-06-23 16.17.15.png", size: "1400x390"
.main
  .item
    ピックアップカテゴリー
    レディース 新着アイテム
  .item-photo
  .item
    メンズ 新着アイテム
  .item-photo
  .item
    ベビー・キッズ 新着アイテム
  .item-photo
  .item
    コスメ・香水・美容 新着アイテム
  .item-photo
  .item
    ピックアップブランド
    シャネル 新着アイテム
  .item-photo
  .item
    ルイ ヴィトン 新着アイテム
  .item-photo
  .item
    シュプリーム 新着アイテム
  .item-photo
  .item
    ナイキ 新着アイテム
  .item-photo
    