-# FIXME: BEM記法の見直し
.sell-wrapper
  .sell-header
    .sell-header__logo メルカリ

  .sell-main-contents
    .sell-inner-contents
      .sell-inner-contents__title 商品の情報を入力
      .sell-upload-form
        .sell-upload-form__label 出品画像
        .sell-upload-form__subtext 最大10枚までアップロードできます
        .sell-upload-form__drag-box

      .sell-product-entry-form
        .sell-product-name__label 商品名
        .sell-product-name__entry-form
        .sell-product-description__label 商品の説明
        .sell-product-description__entry-form

      .sell-product-detail__entry-form
        .sell-product-detail__entry-form__title 商品の詳細
        .sell-product-detail__entry-form__category-label カテゴリー
        .sell-product-detail__entry-form__product-status 商品の詳細

      .sell-product-delivery__entry-form
        .sell-product-delivery__entry-form__label 配送料の負担
        .sell-product-delivery__entry-form__select-box
        .sell-product-delivery__entry-form__label 発送元の地域
        .sell-product-delivery__entry-form__select-box
        .sell-product-delivery__entry-form__label 発送までの日数
        .sell-product-delivery__entry-form__select-box 

      .sell-product-price__entry-form
        .sell-product-price__entry-form__label 価格
        .sell-product-price__entry-form__label 販売手数料
        .sell-product-price__entry-form__label 販売利益

      .sell-product__submit-box
        .sell-product__submit-box__text 禁止されている出品、行為を必ずご確認ください。
        .sell-product__submit-box__textまたブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        .sell-product__submit-box__text また、出品をもちまして加盟店規約に同意したことになります。
        .sell-product__submit-box__list-btn 出品する
        .sell-product__submit-box--return-btn 戻る

  .sell-footer