-# %main.l-container.clearfix
-#   .l-content
-#     .l-chapter-container
-#       .l-single-content
-#         %button.btn{:type => "submit"} ログアウト


.header
.main
  .logout
    %button.btn{:type => "submit"} ログアウト
  .side
