.main
  .payment
    %h2.payment__head 支払い方法
    .payment__inner
      %section
        .payment__inner--content
          %h3.inner-sub-head クレジットカード一覧
      .payment__add--btn
      %button.btn{type: "submit" } 
        %i.far.fa-credit-card クレジットカードを追加する
      %ul.line
      .payment__not-regist
      %button.arrow{type: "submit" }
        %a 支払い方法について
        %i.fas.fa-angle-right

