.main
  .payment
    %h2.payment__head 支払い方法
    .payment__inner
      %section
        .payment__inner--content
          %h3.inner-sub-head クレジットカード一覧
      .payment__add--btn
      %i.far.fa-credit-card
      %button.btn{:type => "submit"} クレジットカードを追加する 
      %ul.line
      .payment__not-regist
        %a 支払い方法について >
        //{linkは未指定}
        %i.icon-arrow-right


