%ul.gnav
  %li{class:"init-bottom", href:'/products'}
    .category
      .category__icon
        %i.fas.fa-list-ul
      .category__search
        カテゴリーから探す
  %li
    %a{:href => "#"}レディース
    %ul
      %li
        %a{:href => "#"} サブメニュー1-1
        %ul
          %li
            %a{:href => "#"} サブサブメニュー1-1
          %li
            %a{:href => "#"} サブサブメニュー1-2
          %li
            %a{:href => "#"} サブサブメニュー1-3
      %li
        %a{:href => "#"} サブメニュー1-2
      %li
        %a{:href => "#"} サブメニュー1-3
      %li
        %a{:href => "#"} サブメニュー1-4
      %li
        %a{:href => "#"} サブメニュー1-5
  %li
    %a{:href => "#"}メンズ
    %ul
      %li
        %a{:href => "#"} サブメニュー2-1
      %li
        %a{:href => "#"} サブメニュー2-2
      %li
        %a{:href => "#"} サブメニュー2-3
      %li
        %a{:href => "#"} サブメニュー2-4
      %li
        %a{:href => "#"} サブメニュー2-5
      %li
        %a{:href => "#"} サブメニュー2-6
      %li
        %a{:href => "#"} サブメニュー2-7
  %li
    %a{:href => "#"}ベビー・キッズ
    %ul
      %li
        %a{:href => "#"} サブメニュー3-1
      %li
        %a{:href => "#"} サブメニュー3-2
      %li
        %a{:href => "#"} サブメニュー3-3
      %li
        %a{:href => "#"} サブメニュー3-4
      %li
        %a{:href => "#"} サブメニュー3-5
      %li
        %a{:href => "#"} サブメニュー3-6
      %li
        %a{:href => "#"} サブメニュー3-7
      %li
        %a{:href => "#"} サブメニュー3-8
      %li
        %a{:href => "#"} サブメニュー3-9
      %li
        %a{:href => "#"} サブメニュー3-10
      %li
        %a{:href => "#"} サブメニュー3-11
      %li
        %a{:href => "#"} サブメニュー3-12
  %li
    %a{:href => "#"}インテリア・住まい・小物
    %ul
      %li
        %a{:href => "#"} サブメニュー4-1
      %li
        %a{:href => "#"} サブメニュー4-2
      %li
        %a{:href => "#"} サブメニュー4-3
      %li
        %a{:href => "#"} サブメニュー4-4
      %li
        %a{:href => "#"} サブメニュー4-5
      %li
        %a{:href => "#"} サブメニュー4-6
      %li
        %a{:href => "#"} サブメニュー4-7
      %li
        %a{:href => "#"} サブメニュー4-8
  %li
    %a{:href => "#"}本・音楽・ゲーム
    %ul
      %li
        %a{:href => "#"} サブメニュー5-1
      %li
        %a{:href => "#"} サブメニュー5-2
      %li
        %a{:href => "#"} サブメニュー5-3
      %li
        %a{:href => "#"} サブメニュー5-4
      %li
        %a{:href => "#"} サブメニュー5-5
      %li
        %a{:href => "#"} サブメニュー5-6
      %li
        %a{:href => "#"} サブメニュー5-7
      %li
        %a{:href => "#"} サブメニュー5-8
      %li
        %a{:href => "#"} サブメニュー5-9
      %li
        %a{:href => "#"} サブメニュー5-10
      %li
        %a{:href => "#"} サブメニュー5-11
      %li
        %a{:href => "#"} サブメニュー5-12
  %li
    %a{:href => "#"}おもちゃ・ホビー・グッズ
    %ul
      %li
        %a{:href => "#"} サブメニュー6-1
      %li
        %a{:href => "#"} サブメニュー6-2
      %li
        %a{:href => "#"} サブメニュー6-3
      %li
        %a{:href => "#"} サブメニュー6-4
      %li
        %a{:href => "#"} サブメニュー6-5
      %li
        %a{:href => "#"} サブメニュー6-6
      %li
        %a{:href => "#"} サブメニュー6-7
      %li
        %a{:href => "#"} サブメニュー6-8
  %li
    %a{:href => "#"}コスメ・香水・美容
    %ul
      %li
        %a{:href => "#"} サブメニュー7-1
      %li
        %a{:href => "#"} サブメニュー7-2
      %li
        %a{:href => "#"} サブメニュー7-3
      %li
        %a{:href => "#"} サブメニュー7-4
      %li
        %a{:href => "#"} サブメニュー7-5
      %li
        %a{:href => "#"} サブメニュー7-6
      %li
        %a{:href => "#"} サブメニュー7-7
      %li
        %a{:href => "#"} サブメニュー7-8
  %li
    %a{:href => "#"}家電・スマホ・カメラ
    %ul
      %li
        %a{:href => "#"} サブメニュー8-1
      %li
        %a{:href => "#"} サブメニュー8-2
      %li
        %a{:href => "#"} サブメニュー8-3
      %li
        %a{:href => "#"} サブメニュー8-4
      %li
        %a{:href => "#"} サブメニュー8-5
      %li
        %a{:href => "#"} サブメニュー8-6
      %li
        %a{:href => "#"} サブメニュー8-7
      %li
        %a{:href => "#"} サブメニュー8-8
  %li
    %a{:href => "#"}スポーツ・レジャー
    %ul
      %li
        %a{:href => "#"} サブメニュー8-1
      %li
        %a{:href => "#"} サブメニュー8-2
      %li
        %a{:href => "#"} サブメニュー8-3
      %li
        %a{:href => "#"} サブメニュー8-4
      %li
        %a{:href => "#"} サブメニュー8-5
      %li
        %a{:href => "#"} サブメニュー8-6
      %li
        %a{:href => "#"} サブメニュー8-7
      %li
        %a{:href => "#"} サブメニュー8-8
  %li
    %a{:href => "#"}ハンドメイド
    %ul
      %li
        %a{:href => "#"} サブメニュー8-1
      %li
        %a{:href => "#"} サブメニュー8-2
      %li
        %a{:href => "#"} サブメニュー8-3
      %li
        %a{:href => "#"} サブメニュー8-4
      %li
        %a{:href => "#"} サブメニュー8-5
      %li
        %a{:href => "#"} サブメニュー8-6
      %li
        %a{:href => "#"} サブメニュー8-7
      %li
        %a{:href => "#"} サブメニュー8-8
  %li
    %a{:href => "#"}チケット
    %ul
      %li
        %a{:href => "#"} サブメニュー8-1
      %li
        %a{:href => "#"} サブメニュー8-2
      %li
        %a{:href => "#"} サブメニュー8-3
      %li
        %a{:href => "#"} サブメニュー8-4
      %li
        %a{:href => "#"} サブメニュー8-5
      %li
        %a{:href => "#"} サブメニュー8-6
      %li
        %a{:href => "#"} サブメニュー8-7
      %li
        %a{:href => "#"} サブメニュー8-8  
  %li
    %a{:href => "#"}自動車・オートバイ
    %ul
      %li
        %a{:href => "#"} サブメニュー8-1
      %li
        %a{:href => "#"} サブメニュー8-2
      %li
        %a{:href => "#"} サブメニュー8-3
      %li
        %a{:href => "#"} サブメニュー8-4
      %li
        %a{:href => "#"} サブメニュー8-5
      %li
        %a{:href => "#"} サブメニュー8-6
      %li
        %a{:href => "#"} サブメニュー8-7
      %li
        %a{:href => "#"} サブメニュー8-8  
  %li
    %a{:href => "#"}その他
    %ul
      %li
        %a{:href => "#"} サブメニュー8-1
      %li
        %a{:href => "#"} サブメニュー8-2
      %li
        %a{:href => "#"} サブメニュー8-3
      %li
        %a{:href => "#"} サブメニュー8-4
      %li
        %a{:href => "#"} サブメニュー8-5
      %li
        %a{:href => "#"} サブメニュー8-6
      %li
        %a{:href => "#"} サブメニュー8-7
      %li
        %a{:href => "#"} サブメニュー8-8
  %li
    %a{:href => "#"}カテゴリー一覧
  